.barmenu{background-color: #EA7A0C;}
.franja{
    background-color: #EA7A0C;
    height: 80PX;
    width: 100%;
}

.logo{
    height: 55px;
    width: 60px;
}

/* .imgcategoria:hover{filter: blur(6px);} */

.textoimg{
    position: absolute;
    left: 15%;
    line-height: 200px;
    color: rgb(255, 255, 255);
    font-family: 'Exo';
    top: 0;
    font-size: 13px;
    height: 10px;
}

.textoimg1{
    position: absolute;
    left: 15%;
    line-height: 300px;
    color: rgb(255, 255, 255);
    font-family: 'Exo';
    top: 0;
    font-size: 13px;
    height: 10px;
}

.textoimg:hover{
    color: #EA7A0C;
    font-size: 14px;
    font-weight: bold;
}

.textoimg1:hover{
    color: #EA7A0C;
    font-size: 14px;
    font-weight: bold;
}

.menuletra li a{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.2em;
}

a{font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}
.categoria h2{font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}

.card-title a{color: rgb(168, 110, 2);}

#pedido{
    background-color: #EA7A0C;
    border-color: #EA7A0C;
}

.vlistado{color: rgb(34, 33, 39);}
.vlistado:hover{color:  #EA7A0C;}

#comprar{
    background-color: #EA7A0C;
    border-color: #EA7A0C;
    color: #FFFFFF;
    font-size: 1.2em;
}

#pregunta:focus{
    border-color: #EA7A0C;
    box-shadow: none;
}

.a_transicion img:last-child{display: none;}
.a_transicion:hover img:last-child{display: block;}
.a_transicion:hover img:first-child{display: none;}

